blinker==1.9.0
cachetools==6.2.4
click==8.1.8
gitdb==4.0.11
GitPython==3.1.42
google==3.0.0
numpy==1.21.0
numpy-utils==0.1.6
opencv-python==4.5.1.48
packaging==25.0
pillow==10.2.0
protobuf==6.33.2
py-cpuinfo==9.0.0
smmap==5.0.1
streamlit==1.50.0
thop==0.1.1.post2209072238
toml==0.10.2
torch==2.2.1
torchvision==0.17.1
tornado==6.5.4
typing_extensions==4.10.0
ultralytics==8.1.19
